<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Url" value="http://mail.google.com" />
    <add key="Email" value="tt153730@gmail.com" />
    <add key="Password" value="test12345))" />
    <add key="WaitTimeout" value="15" />
    <add key="MailSubject" value="Test" />
    <add key="Message" value="Test message" />
    <add key="IncorrectEmail" value="incorrectEmail" />
    <add key="ErrorMessageHeader" value="Error" />
  </appSettings>
</configuration>